.bg{
    z-index: 9;
    border: 1px solid gainsboro;
    transform: translate3d(0px, 0px, 0px);
    content-visibility: visible;
    transition-duration: 500ms;

    
}

.with-animation{
    background-color: red;
    opacity: 0;
    
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    grid-template-rows: repeat(8, 1fr); 
    width: 100%;
    height: 40vh;
    grid-gap: 0.2px;
    
}


.gridImage{
    background: url('../../Assets/welcomeImage.png');
    background-size: cover;
    background-position: center center;
    height: 50vh;
    width: 60%;
    border-radius: 10px;
    transition: all;
    transition-duration: 600ms;

    /* background-color: rebeccapurple; */    
}

.roundedImage{
    background: url('../../Assets/welcomeImage.png');
    background-size: cover;
    background-position: center center;

}

.with-animation {
    background-position: -100% 0;
    animation: slide-background 2s linear infinite; 
}

/* Define the animation */
@keyframes slide-background {
    0% { background-position: -100% 0; width: 0;} /* Start position */
    100% { background-position: 100% 0; width: 100%;} /* End position */
}

.grid_cell{
    border :1px solid grey;
}

.homeSection{
    z-index: 1;
}

.bgImage{
    position: absolute;
    background: url('/public/images/coding-screen.jpg');
    /* width: 99vw; */
    height: 92vh;
    background-position: center center;
    background-attachment: fixed;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -999;
    /* overflow-x: hidden; */
}


.bgImage::before,
.bgImage::after {
    content: "";
    position: absolute;
    top: 0;
    width: 90vw;
    height: 100%;
    filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.6);
}

.bgImage::before {
    left: 0;
}

.bgImage::after {
    right: 0;
}

.bgImage::before {
    z-index: 1; /* Ensure pseudo-elements are below the background image */
}

.bgImage::after {
    z-index: 2;
}

.bgImage img {
    width: 100%;
    height: auto;
    display: block;
}

