body{
    transition: colors;
    transition-duration: 1s easeInOut;
    margin: 0;
    padding: 0;
}

.homeDiv{
    text-shadow: 1px 1px 0px 2px black;
}

.vertical-text {
    writing-mode: vertical-lr; /* For vertical text from right to left */
    text-orientation: sideways-right; /* For mixed orientation to support all browsers */
  }
  

  .skills_list{
    color: blue;
  }

  .box__shadow{
    border: 1px solid rgb(0 0 0 / 8%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.5s ease-in-out;
    transform: scale(1);
  }

  .box__shadow:hover{
    transform: scale(1.04);
    
  }

  .App{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    /* align-items: center; */
  }

  .sections{
    width: 95vw;
  }

  .scroll_bar::-webkit-scrollbar{
    display: none;
  }

  .preview_img{
  
    min-height: 500px;
  }

 
  .bg_pattern{
      background:linear-gradient(to bottom, rgba(38, 39, 38, 0.2), rgb(4, 19, 2));
      /* url('/src/Assets/Grid_background.jpg'); */
      background-repeat: no-repeat;
      background-size: 100vw 100vh;   
      background-position: top;
      background-attachment: fixed;  
      transition: all;
      transition-duration: 500ms;
      transition-delay: 0.4s;
      
  }

  .btn {
    position: relative;
    display: inline-block;
    z-index: 1;
    
  }



.btn::before{
 content: '';
 position: absolute;
 background: rgba(226, 33, 8, 0.6);
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 transform: scaleX(0);
 transform-origin: left;
 transition: transform 0.4s ease;
 z-index: 1;
}

.btn:hover::before{
    transform: scaleX(1);
}



.btn:hover {
    background-color: black;
  }
 
  
  .btn .btn-link {
    /* color: black; */
  } 
  
  .btn:hover .btn-link {
    color: white; /* Change text color on hover */
  }